# Analiza kripto trga s pomočjo CoinGecka

## 1. Uvod

Za projektno nalogo sem analiziral kripto trg s pomočjo podatkov pridobljenih na spletni strani [coingecko.com](https://www.coingecko.com/). Iz mojih izkušenj CoinGecko poda najbolj verodostojne informacije o posamzenih kovancih **različnih** blockchainov, ki zajemajo tako decentralizirane kot centralizirane menjalnice. Pomembno je omeniti, da so podatki pridobljeni dne 30. oktobra 2024 od 16.46 do 16.59 (program potrebuje nekaj časa, da pridobi vse podatke) in da je zbranih prvih 9999 kovancev (rangiranih po Market capu, nato po volumnu).

Program pobere naslednje podatke v tem vrstnem redu:
- mesto po market capu (Rank)
- ime (Name)
- simbol kovanca (Symbol)
- ceno (Price)
- Market cap
- Fully Diluted Valuation (FDV)
- Spremembo cene (24h Change, 7 Days change, 1h Change)

# 2. Analiza

In [31]:
import pandas as pd

kovanci = pd.read_csv('coin_data.csv')

kovanci['Rank'] = pd.to_numeric(kovanci['Rank'], errors='coerce')
kovanci['Rank'] = kovanci['Rank'].astype('Int64')
kovanci.to_csv('coin_data.csv', index=False)

pd.set_option("display.max_rows", 30)

kovanci

,Rank,Name,Symbol,Price,Market Cap,FDV,24h Change (%),7 Days Change (%),1h Change (%),Volume ($)
0,1,Bitcoin,BTC,"$71,800.34","$1,419,873,929,580","$1,507,807,161,000",0.1,7.994,-0.582,"$57,395,313,658"
1,2,Ethereum,ETH,"$2,683.63","$323,411,924,202","$323,411,924,202",2.1,4.774,-1.022,"$25,712,279,290"
2,3,Tether,USDT,$0.9969,"$120,083,622,964",NaN,0.2,-0.213,-0.251,"$120,083,622,964"
3,4,BNB,BNB,$594.59,"$86,913,309,997","$86,913,309,997",1.9,2.009,-0.813,"$1,113,879,567"
4,5,Solana,SOL,$173.48,"$81,747,608,729","$102,108,568,653",3.2,3.485,-1.526,"$4,303,368,066"
...,...,...,...,...,...,...,...,...,...,...
9995,<NA>,SuiPepe,SPEPE,$483.90,NaN,NaN,8.0,-11.004,-1.946,NaN
9996,<NA>,FISCO Coin,FSCC,$0.1363,NaN,NaN,11.4,8.648,0.002,"$6,815,267"
9997,<NA>,RBX,RBX,$0.0006251,NaN,NaN,44.3,-7.911,-0.099,"$62,512.87"
9998,<NA>,stickman,$STICKY,$481.47,NaN,NaN,12.1,-6.261,-0.715,"$5,075.27"
9999,<NA>,Quantfury,QTF,$4.81,"$480,996,835",NaN,2.3,2.281,-0.875,$481.00

Razpreglednica vseh kovancev rangiranih po market capu.

In [32]:
kovanci['FDV'] = kovanci['FDV'].replace({'\$': '', ',': ''}, regex=True)
kovanci['FDV'] = pd.to_numeric(kovanci['FDV'], errors='coerce')

kovanci_po_FDV = kovanci.sort_values(by='FDV', ascending=False)

kovanci_po_FDV['FDV'] = kovanci_po_FDV['FDV'].apply(lambda x: f"${x:,.0f}" if pd.notna(x) else "N/A")
kovanci_po_FDV

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Vid Hocevar\AppData\Local\Temp\ipykernel_33136\3665931102.py:1: SyntaxWarning: invalid escape sequence '\$'
  kovanci['FDV'] = kovanci['FDV'].replace({'\$': '', ',': ''}, regex=True)

,Rank,Name,Symbol,Price,Market Cap,FDV,24h Change (%),7 Days Change (%),1h Change (%),Volume ($)
0,1,Bitcoin,BTC,"$71,800.34","$1,419,873,929,580","$1,507,807,161,000",0.1,7.994,-0.582,"$57,395,313,658"
1,2,Ethereum,ETH,"$2,683.63","$323,411,924,202","$323,411,924,202",2.1,4.774,-1.022,"$25,712,279,290"
4,5,Solana,SOL,$173.48,"$81,747,608,729","$102,108,568,653",3.2,3.485,-1.526,"$4,303,368,066"
3,4,BNB,BNB,$594.59,"$86,913,309,997","$86,913,309,997",1.9,2.009,-0.813,"$1,113,879,567"
7,8,Lido Staked Ether,STETH,"$2,677.26","$26,183,799,762","$26,183,799,762",1.9,4.576,-1.331,"$61,898,514"
...,...,...,...,...,...,...,...,...,...,...
9995,<NA>,SuiPepe,SPEPE,$483.90,NaN,N/A,8.0,-11.004,-1.946,NaN
9996,<NA>,FISCO Coin,FSCC,$0.1363,NaN,N/A,11.4,8.648,0.002,"$6,815,267"
9997,<NA>,RBX,RBX,$0.0006251,NaN,N/A,44.3,-7.911,-0.099,"$62,512.87"
9998,<NA>,stickman,$STICKY,$481.47,NaN,N/A,12.1,-6.261,-0.715,"$5,075.27"
9999,<NA>,Quantfury,QTF,$4.81,"$480,996,835",N/A,2.3,2.281,-0.875,$481.00

Kovanci rangirani po FDV-ju.

In [36]:
kovanci['Volume ($)'] = kovanci['Volume ($)'].replace({'\$': '', ',': ''}, regex=True)
kovanci['Volume ($)'] = pd.to_numeric(kovanci['Volume ($)'], errors='coerce')

n = 1000
prvih_n_kovancev = kovanci.head(n)

prvih_n_kovancev_volume = prvih_n_kovancev.sort_values(by='Volume ($)', ascending=False)
prvih_n_kovancev

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Vid Hocevar\AppData\Local\Temp\ipykernel_33136\1500465655.py:1: SyntaxWarning: invalid escape sequence '\$'
  kovanci['Volume ($)'] = kovanci['Volume ($)'].replace({'\$': '', ',': ''}, regex=True)

,Rank,Name,Symbol,Price,Market Cap,FDV,24h Change (%),7 Days Change (%),1h Change (%),Volume ($)
0,1,Bitcoin,BTC,"$71,800.34","$1,419,873,929,580",1.507807e+12,0.1,7.994,-0.582,5.739531e+10
1,2,Ethereum,ETH,"$2,683.63","$323,411,924,202",3.234119e+11,2.1,4.774,-1.022,2.571228e+10
2,3,Tether,USDT,$0.9969,"$120,083,622,964",NaN,0.2,-0.213,-0.251,1.200836e+11
3,4,BNB,BNB,$594.59,"$86,913,309,997",8.691331e+10,1.9,2.009,-0.813,1.113880e+09
4,5,Solana,SOL,$173.48,"$81,747,608,729",1.021086e+11,3.2,3.485,-1.526,4.303368e+09
...,...,...,...,...,...,...,...,...,...,...
995,996,LUKSO [OLD],LYXE,$1.63,"$25,375,446",1.629146e+08,6.2,13.394,0.508,2.985892e+04
996,997,GT Protocol,GTAI,$0.6685,"$50,331,915",NaN,0.0,-4.776,-1.317,2.529990e+07
997,998,BLUB,BLUB,"$1,685,069","$32,631,360",NaN,0.7,21.672,-2.318,2.537498e+07
998,1000,Multibit,MUBI,$0.02651,"$26,452,356",NaN,0.3,-1.299,-1.861,2.512974e+07
999,1001,AhaToken,AHT,$0.004431,"$34,139,258",NaN,0.3,-1.562,-0.632,2.508326e+07